<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Leave Comment</title>
</head>
<body>
  <h1>COOKIN W GASSSSSSSSSSSS</h1>
  <form action="/posts/<%= id %>/comments" method="POST">
    <input type="hidden" name="comment[post_id]" value="<%= id %>">
    <label for="user-id">User Id: </label>
    <input type="number" id="user-id" name="comment[user_id]">
    <textarea name="comment[content]" rows="8" cols="80"></textarea>
    <input type="submit">
  </form>
</body>
</html>
