<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Edit User</title>
</head>
<body>
  <h1>GOT TO EDIT PAGE</h1>
  <form action="/users/<%= id %>?_method=PUT" method="POST">
    <label for="full-name">Full Name: </label>
    <input type="text" id="full-name" name="user[full_name]">
    <label for="username">Username: </label>
    <input type="text" id="username" name="user[username]">
    <label for="img-url">Image URL: </label>
    <input type="text" id="img-url" name="user[img_url]">
    <input type="submit">
  </form>

  <form action="/users/<%= id %>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE">
  </form>
  <p><a href="/">Home</a></p>
</body>
</html>
